html
{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body
{
    align-items: center;
    background: linear-gradient(460deg, rgb(149, 6, 245), red);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}
    
    

.kalkulator
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(228, 221, 221);
    border: solid 1px rgba(255,255,255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px, 20px rgba(20, 20,20, 0.1);
    color: black;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255, 0.30);
    border: solid 1px rgba(255,255,255,0.34);
    flex-basis:400px;
    height: 600px;
    padding: 20px 40px;
}

.ekran
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.50);
    border: solid 1px rgba(255,255,255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255,255,255,0.1);
    color: black;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calk-buttons-row
{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calk-button
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255, 0.75);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255,255,255, 0.1);
    color: black;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calk-button:last-child
{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255, 0.75);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255,255,255, 0.1);
    color: #fff;
    background: #d72;
}

.calk-button:last-child:hover
{
    background-color: inherit;
    color: inherit;
}

.calk-button:hover
{
    background-color: inherit;
}

.calk-button:active
{
    background-color: rgb(230, 223, 222);
}

.d
{
    flex-basis: 47%;
}

.t
{
    flex-basis: 73%;
}